# default: 3030
# export EXAMPLE_SERVER_PORT=<PORT>

export OTEL_SERVICE_NAME="example-otel"
export OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
export OTEL_EXPORTER_OTLP_ENDPOINT="https://<YOUR_ENDPOINT>"
export OTEL_EXPORTER_OTLP_HEADERS="<YOUR_ENDPOINT_AUTH>"
